services:
  # otel:
  #   image: acrcredibil.azurecr.io/demo/wasmgrid
  #   platform: linux/arm64
  #   environment: 
  #     RUST_LOG: info,otel=debug
  #     MONGODB_URI: ${MONGODB_URI}
  #     NATS_ADDR: ${NATS_ADDR}
  #     OTEL_HTTP_ADDR: http://otelcol:4318
  #     OTEL_GRPC_ADDR: http://otelcol:4317
  #   ports:
  #     - 8080:8080
  #   command: ["/otel.wasm"]
  #   volumes:
  #      - ./target/wasm32-wasip2/release/otel.wasm:/otel.wasm
  #   depends_on:
  #     - otelcol

  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 4317:4317
      - 4318:4318
    depends_on:
      - jaeger
      - prometheus
      
  jaeger:
    image: jaegertracing/jaeger:latest
    ports:
      - 16686:16686

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - 9090:9090 
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-remote-write-receiver
      # - --log.level=debug
  
  # wasm:
  #   build: .
  #   image: acrcredibil.azurecr.io/demo/wasmgrid
  #   platform: linux/arm64
  #   environment:
  #     - NATS_ADDR=nats:4222
  #   #   - RUST_LOG=runtime=trace,wasmgrid=trace,services=trace
  #   ports:
  #     - 8080:8080
  #   volumes:
  #     - ./target/wasm32-wasip2/release/blobstore.wasm:/app.wasm
  #   command: ["/app/wasmgrid", "run", "/app.wasm"]
  #   depends_on:
  #     - nats

  nats:
    image: nats:latest
    platform: linux/arm64
    ports:
      - 4222:4222
    command: ["-js"]