[package]
name = "nats"
authors.workspace = true
edition.workspace = true
version = "0.1.0"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
async-nats.workspace = true
nkeys = { version = "0.4.5" }
runtime.workspace = true
tracing.workspace = true
